<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Test Cases</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
        <h1>Welcome, {{ current_user.username }}</h1>
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
        <h1>Automated Website Testing</h1>
        <form method="POST">
            <input type="text" name="url" placeholder="Enter website URL" required>
            <button type="submit">Test Website</button>
        </form>

        <h2>Test Cases</h2>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>URL</th>
                    <th>Status Code</th>
                    <th>Error Message</th>
                </tr>
            </thead>
            <tbody>
                {% for case in test_cases %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ case[0] }}" target="_blank">{{ case[0] }}</a></td>
                    <td>{{ case[1] }}</td>
                    <td>{{ case[2] if case[2] else 'No Error' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Test Case errors</h2>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>URL</th>
                    <th>Error Message</th>
                </tr>
            </thead>
            <tbody>
                {% for error in errors %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ error[0] }}" target="_blank">{{ error[0] }}</a></td>
                    <td>{{ error[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
